### SQL-Abfragen in Relationale Algebra konvertieren
**Einfache Abfrage**

In [13]:
from src.parser.parser import Parser

parser = Parser()
sql_query = "select student.id, student.name from student where student.country ='germany'"
sql_query_parsed = parser.parse(sql_query)

ra_converted = parser.convert_to_relational_algebra(sql_query_parsed)
print(ra_converted)

Project(student.id, student.name)
    Select(student.country = 'germany')
        Table(student)

**Join-Abfrage**

In [14]:
sql_query_join = "SELECT employee.name, department.name FROM employee, department WHERE employee.dept_id = department.id AND employee.age > 30"

sql_query_join_parsed = parser.parse(sql_query_join)
ra_join_converted = parser.convert_to_relational_algebra(sql_query_join_parsed)
print(ra_join_converted)

Project(employee.name, department.name)
    Inner Join(On employee.dept_id = department.id)
        Select(employee.age > 30)
            Table(employee)
        Table(department)

**Mehrere Joins**

In [15]:
sql_query_join_2 = "SELECT a.id, b.name, c.price, d.year FROM a, b, c, d WHERE a.id = b.a_id AND b.id = c.b_id AND c.id = d.c_id and a.name = 'lee'"
sql_query_join_2_parsed = parser.parse(sql_query_join_2)
ra_join_2_converted = parser.convert_to_relational_algebra(sql_query_join_2_parsed)
print(ra_join_2_converted)

Project(a.id, d.year, c.price, b.name)
    Inner Join(On c.id = d.c_id)
        Inner Join(On b.id = c.b_id)
            Table(c)
            Inner Join(On a.id = b.a_id)
                Select(a.name = 'lee')
                    Table(a)
                Table(b)
        Table(d)

**Group-By Abfrage**

In [16]:
sql_query_groupby = "SELECT employees.department, COUNT(employees.employee_id) FROM employees, departments where employees.department_id = departments.id GROUP BY employees.department, employees.year"
sql_query_groupby_parsed = parser.parse(sql_query_groupby)
ra_groupby_converted = parser.convert_to_relational_algebra(sql_query_groupby_parsed)
print(ra_groupby_converted)

Project(employees.department, employees.employee_id)
    GroupBy((employees.department, employees.year))
        Inner Join(On employees.department_id = departments.id)
            Table(departments)
            Table(employees)