In [1]:
from src.parser.parser import Parser

parser = Parser()
sql_query = "select student.id, student.name from student where student.country ='germany'"
sql_query_parsed = parser.parse(sql_query)

ra_converted = parser.convert_to_relational_algebra(sql_query_parsed)
print(ra_converted)

Project(student.name, student.id)
    Select(student.country = 'germany')
        Table(student)

In [2]:
sql_query_join = "SELECT employee.name, department.name FROM employee, department WHERE employee.dept_id = department.id AND employee.age > 30"

sql_query_join_parsed = parser.parse(sql_query_join)
ra_join_converted = parser.convert_to_relational_algebra(sql_query_join_parsed)
print(ra_join_converted)

Project(department.name, employee.name)
    Inner Join(On employee.dept_id = department.id)
        Table(department)
        Select(employee.age > 30)
            Table(employee)

In [3]:
sql_query_join_2 = "SELECT a.id, b.name, c.price, d.year FROM a, b, c, d WHERE a.id = b.a_id AND b.id = c.b_id AND c.id = d.c_id and a.name = 'lee'"
sql_query_join_2_parsed = parser.parse(sql_query_join_2)
ra_join_2_converted = parser.convert_to_relational_algebra(sql_query_join_2_parsed)
print(ra_join_2_converted)

Project(c.price, d.year, b.name, a.id)
    Inner Join(On b.id = c.b_id)
        Inner Join(On a.id = b.a_id)
            Table(b)
            Select(a.name = 'lee')
                Table(a)
        Inner Join(On c.id = d.c_id)
            Table(d)
            Table(c)